body{
    background-color:whitesmoke;
    background-position: 100;
}
div {
    border: 1px solid rgb(243, 146, 35);
}
.logo{
    width: 80%;
    border-radius: 100%;
}
.prato-foto{
    width: 100%;
    
}                                                                                                                                                               