@font-face {
    font-family: 'sourcepro';
    src: url('../fonts/SourceSerifPro-Bold.ttf');
}
@font-face {
    font-family: 'howell';
    src: url('../fonts/Howells.ttf');
}
body{
    background-color:rgba(248, 221, 181, 0.5);
    background-position: 100;
}
.redes-sociais {
    padding:0.5rem;
    color:#cdcdcd;
}
.redes-sociais:hover{
    color: #ababab;
}
.header{
    position: relative;
}
.fundo{
    background-image: url('../Imagens/fundo_salada_2.png');
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
    opacity: 0.3;
}
.logo{    
    height: 50%;
    border-radius: 100%;
    position: relative;
    z-index:2;
}
.prato-foto{
   width: 100%;
   border-bottom: 100; 
}   
.navbar-brand{
    font-family: 'Domine' !important;
}
.card{
    overflow: hidden;
    font-family: 'sourcepro';
    transition:box-shadow ease-in-out 0.2s;
    border-color: #0f87436c !important;
}
.card:hover{
    box-shadow: none !important;
}
.border-green{
    border-color: #14a0516c !important;
}
.card .card-title{    
    font-family: 'Domine' !important;
    color: rgb(255 139 3);
    text-shadow: 2px 2px 2px rgb(110, 110, 110, 0.3);
    text-align: center;
    font-size: 1.75rem;
}
/* .carousel{
} */
.titulo-cardapio{
    font-family: 'howell' !important;
    color: rgb(255 139 3);
    text-shadow: 2px 2px 2px rgb(110, 110, 110, 0.3);
    width: 99.5%;
    border-color: #0f874385 !important;
    box-sizing: border-box;
    font-size: 5rem;
}
.titulo-cardapio svg{
    font-size: 4rem !important;
}
.carousel .carousel-inner{
    padding: 1rem;
    height: 100%;
}
.carousel .carousel-inner .carousel-item{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.carousel .carousel-inner img{
    border-radius: 0.8rem;
}
.carousel button{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
/* .carousel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1rem solid #efefef;
    top:0;
} */
